In [69]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

In [18]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

http_imdb = requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250", headers = headers)
html_imdb = BeautifulSoup(http_imdb.text, 'html.parser')

In [31]:
html_list_body = html_imdb.find(class_='ipc-metadata-list')
html_list_items = html_list_body.find_all('li')

In [74]:
dict_movie_list = []

for item in html_list_items:
    dict_movie = {}
    dict_movie['title'] = item.find(class_="ipc-title").text.split('. ')[1].strip()
    dict_movie['rating'] = item.find(class_="ipc-rating-star").text[:3].strip()
    dict_movie['qtd_votes'] = item.find(class_="ipc-rating-star").text[3:].replace(')','').replace('(','').strip()
    dict_movie['movie_url'] = 'https://www.imdb.com' + item.find(class_="ipc-title").find('a').get("href").strip()


    dict_movie_list.append(dict_movie)

df_movies = pd.DataFrame(dict_movie_list)

In [76]:
df_movies

,title,rating,qtd_votes,movie_url
0,Um Sonho de Liberdade,9.3,2.9M,https://www.imdb.com/title/tt0111161/?ref_=cht...
1,O Poderoso Chefão,9.2,2M,https://www.imdb.com/title/tt0068646/?ref_=cht...
2,Batman: O Cavaleiro das Trevas,9.0,2.9M,https://www.imdb.com/title/tt0468569/?ref_=cht...
3,O Poderoso Chefão II,9.0,1.4M,https://www.imdb.com/title/tt0071562/?ref_=cht...
4,12 Homens e uma Sentença,9.0,863K,https://www.imdb.com/title/tt0050083/?ref_=cht...
...,...,...,...,...
245,Histórias Cruzadas,8.1,492K,https://www.imdb.com/title/tt1454029/?ref_=cht...
246,Aconteceu Naquela Noite,8.1,112K,https://www.imdb.com/title/tt0025316/?ref_=cht...
247,Aladdin,8.0,466K,https://www.imdb.com/title/tt0103639/?ref_=cht...
248,Dança com Lobos,8.0,290K,https://www.imdb.com/title/tt0099348/?ref_=cht...
249,"Paris, Texas",8.1,118K,https://www.imdb.com/title/tt0087884/?ref_=cht...